<div>
  <!-- ! Button -->
<button mat-button>Click Me</button>
<button mat-raised-button>Click Me</button>
<button mat-flat-button>Click Me</button>
<button mat-stroked-button>Click Me</button>
</div>

<div>
  <!-- ! Button - Round -->
  <button mat-icon-button>Icon</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>miniFab</button>
</div>

<div>
  <!-- ! Colour - Button -->
  <button mat-button color="primary">primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>

  <!-- * Disable Ripple Effect -->
  <button mat-button color="warn" disableRipple>Warn - Disable Ripple</button>

  <!-- ! Colour - Raised Button -->
  <button mat-raised-button color="primary">primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  </div>